body {
 background-image: url('Wiggum.PNG');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
img{
 width: 100%;
}

h1 {
 text-align: center;
}
p {
  color: powerblue;
}
