body {
  background-color: DarkSeaGreen;
  background-size: cover;
}
h1 {
  color: DarkSlateGray;
}
p {
  color: DarkSlateGray;
}
img{
	width:12%;
}

#topmenu {
	position: absolute;
	width: 70%;	
	height: 10%;
	background-color: FloralWhite;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 2%;
}

#menu-option{
	padding-left: 5%;
	display: inline;
	position: absolute;
}

#main-box {
	position: absolute;
	height: 100%;
	width: 70%;	
	background-color: FloralWhite;
	margin-left: 5%;
	margin-top: 10%;
}

#main-content{
	position: absolute;
	padding-left: 5%;
	padding-top: 2.5%;
}

.dropdown {
	position = absolute;
 	background-color: FloralWhite;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
