body {
  background-color: DarkSeaGreen;
  background-size: cover;
}

h1 {
  color: DarkSlateGray;
}
p {
  color: DarkSlateGray;
}
img{
	width:12%;
}

#topmenu {
	width: 70%;	
	height: 10%;
	background-color: FloralWhite;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 2%;
}

#dropdown-option{
	padding-left: 5%;
	padding-top: 2.5%;
	
}
#main-box {
	height: 100%;
	width: 70%;	
	background-color: FloralWhite;
	margin-left: 5%;
	
}

#main-content{
	padding-left: 5%;
	padding-top: 2.5%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: FloralWhite;
  min-width: 160px;
  padding-left: 5%;
  padding-top: 2.5%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
