/*Background Image*/
body {
 background-image: url('Wiggum.PNG');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
img{
 width: 40%;
}

/*Header*/
h1 {
 text-align: center;
}

p {
  color: powerblue;
}


/*image overlay*/
.container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.image {
  opacity: 0.9;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container:hover .image {
  opacity: 0.7;
}
.container:hover .middle {
  opacity: 1;
}
.blur img{
    -webkit-webkit-transition:all 1s ease;
    -moz-webkit-transition:all 1s ease;
    -ms-webkit-transition:all 1s ease;
    -o-webkit-transition:all 1s ease;
}
.blur img:hover{
 -webkit-filter:blur(4px);
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Image Centering Function*/
.centre {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

/*footer*/
footer {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 0.7em;
 font-weight: bold;
 color: #FFF;
 padding: 10px;
 margin: 20px;
 height: auto;
 width: 90%;
}
